<section id="features" class="bg-light">
  <h1 class='text-dark display-4 pt-2'>Features</h1>
  <div class='row mx-5'>
    <div class='col-md-3'>
      <div class='card px-2 pb-2'>
        <div class='card-body'>
          <h4 class='card-title lead'>Expression levels</h4>
        </div>
        <img class='card-img-bottom shadow' src='assets/images/expression.png' />
      </div>
    </div>
    <div class='col-md-3'>
      <div class='card px-2 pb-2'>
        <div class='card-body'>
          <h4 class='card-title lead'>Gene models</h4>
        </div>
        <img class='card-img-bottom shadow' src='assets/images/genemodel.png' />
      </div>
    </div>
    <div class='col-md-3'>
      <div class='card px-2 pb-2'>
        <div class='card-body'>
          <h4 class='card-title lead'>Orthogroups</h4>
        </div>
        <img class='card-img-bottom shadow' src='assets/images/orthogroup.png' />
      </div>
    </div>
    <div class='col-md-3'>
      <div class='card px-2 pb-2'>
        <div class='card-body'>
          <h4 class='card-title lead'>Protein domains</h4>
        </div>
        <img class='card-img-bottom shadow' src='assets/images/protein-domains.png' />
      </div>
    </div>
  </div>
</section>