<footer class="site-footer h-card bg-primary text-light small">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class='row'>
      <figure class='mx-2'>
        <img src='https://simpleicons.org/icons/meteor.svg' width='50px' 
          style='filter:invert(1)' />
        <figcaption>Meteor.js</figcaption>
      </figure>
      <figure class='mx-2'>
        <img src='https://simpleicons.org/icons/node-dot-js.svg' width='50px'
          style='filter:invert(1)' />
        <figcaption>Node.js</figcaption>
      </figure>
      <figure class='mx-2'>
        <img src='https://simpleicons.org/icons/react.svg' width='50px'
           style='filter:invert(1)' />
        <figcaption>React.js</figcaption>
      </figure>
      <figure class='mx-2'>
        <img src='https://simpleicons.org/icons/mongodb.svg' width='50px'
           style='filter:invert(1)' />
        <figcaption>MongoDB</figcaption>
      </figure>
    </div>
    <!--
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  -->

  </div>

</footer>
