<section id="installation" class="bg-light">
  <h1 class='text-dark display-6 pt-2'>Installation</h1>
  <small class="text-justify-center text-muted">
    Genenotebook requires <a href="https://nodejs.org/">Node.js</a>, <a href="https://www.mongodb.com/">MongoDB</a> and <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi">NCBI BLAST</a> to run. <br/>
    By using either <a href="https://bioconda.github.io/#using-bioconda">bioconda</a> or <a href="https://docs.docker.com/get-started/">docker</a> these dependencies can be installed automatically. <br/>
    Alternatively, install these dependencies yourself and grab the <a href="https://github.com/genenotebook/genenotebook/releases/">GeneNoteBook tarball from GitHub</a>.
  </small>
  <nav class='pt-2'>
    <div class="nav nav-tabs nav-fill px-5" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-bioconda-tab" data-toggle="tab"
        href="#install-bioconda" role="tab" aria-controls="install-bioconda" 
        aria-selected="true">
        Bioconda
      </a>
      <a class="nav-item nav-link" id="nav-github-tab" data-toggle="tab"
        href="#install-github" role="tab" aria-controls="install-github" aria-selected="false">
        Github
      </a>
      <a class="nav-item nav-link" id="nav-docker-tab" data-toggle="tab"
        href="#install-docker" role="tab" aria-controls="install-docker" aria-selected="false">
        Docker
      </a>
    </div>
  </nav>
  <div class="tab-content bg-white pt-3" id="nav-tabContent">
    <div class="tab-pane fade show active mt-3 pb-3" id="install-bioconda" role="tab-panel" 
      aria-labelledby="nav-bioconda-tab">
      <div style='max-width:700px; margin:auto'>
        <img alt="version" src="https://anaconda.org/bioconda/genenotebook/badges/version.svg">
        <img alt="latest release" src="https://anaconda.org/bioconda/genenotebook/badges/latest_release_date.svg">
        <img alt="platforms" src="https://anaconda.org/bioconda/genenotebook/badges/platforms.svg">
        <hr/>
        By using the conda package management system GeneNoteBook and its dependencies can be installed as follows:
        <blockquote class='blockquote bg-dark mt-2 py-1 rounded font-weight-light'>
          <code class='text-light'>
            > conda install -c bioconda genenotebook
          </code>
        </blockquote>
        Alternatively, to isolate your installation from other packages, use a conda environment:
        <blockquote class='blockquote bg-dark mt-2 py-1 rounded'>
          <code class='text-light'>
            > conda create -c bioconda -n gnb_env genenotebook
          </code>
        </blockquote>
      </div>
    </div>
    <div class="tab-pane fade  mt-3 pb-3" id="install-github" role="tab-panel" 
      aria-labelledby="nav-github-tab">
      <div style='max-width:700px; margin:auto'>
        If you want to bundle GeneNoteBook from source code, or run a development server, you need Node.js (>= 8.0.0), MongoDB (>= 3.4.0) and NCBI BLAST (>= 2.5.0). <br/>
        Clone git repository
        <blockquote class='blockquote bg-dark mt-2 py-1 rounded'>
          <code class='text-light'>
            > git clone https://github.com/genenotebook/genenotebook
          </code>
        </blockquote>
        Bundle the source code
        <blockquote class='blockquote bg-dark mt-2 py-1 rounded'>
          <code class='text-light'>
            > npm run complete_build
          </code>
        </blockquote>
        <small class='text-muted'>
          To run a development server, first install javascript dependencies with <code>npm install</code style='white-space: nowrap'> and then start a server with <code style='white-space: nowrap'>npm run dev</code>
        </small>
      </div>
    </div>
    <div class="tab-pane fade" id="install-docker" role="tab-panel" 
      aria-labelledby="nav-docker-tab">
      <div style='max-width:700px; margin:auto'>
        <p>
          <blockquote class='blockquote bg-dark mt-2 py-1 rounded'>
            <code class='text-light'>
            > docker pull genenotebook/genenotebook:v0.1.13
            </code>
          </blockquote>
          <small class='text-muted'>
            GeneNoteBook Docker files are hosted in a separate repository: <a href='https://github.com/genenotebook/genenotebook_docker'>https://github.com/genenotebook/genenotebook_docker</a>
          </small>
        </p>
      </div>
    </div>
    <hr class="mb-0" />
  </div>
</section>