<section id="introduction">
  <div class='bg-light pt-3'>
  	<h1 class='text-dark display-4'>GeneNoteBook</h1>
  	<h2 class='text-muted lead'>A collaborative notebook for comparative genomics</h2>
    Visit <a href="http://bioinformatics.nl/genenotebook">http://bioinformatics.nl/genenotebook</a> for a GeneNoteBook server running on an example dataset.
  	<hr />
  </div>
	<img class='img-fluid mb-5 d-block mx-auto shadow border' 
		id="genenotebook-example" 
		src='assets/images/genenotebook_2.png' />
	<hr class="mb-0"/>
</section>